body {
    background: #D8AE7E;
}

.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 6.25rem;
}

h1 {
    font-size: 4rem;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    border: none;
    color: #ffffff;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button {
    background: #90D26D;
    margin-left: 0.625rem;
}

.add-button:hover {
    background: #69a847;
}

.delete-button {
    background: #C40C0C;
}

.delete-button:hover {
    background: #930808;
}

.move-button {
    background: #22afe1;
}

.move-button:hover {
    background: #357e98;
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 0.625rem;
    border: 2px solid;
    border-radius: 0.3rem; 
}  

ol {
    padding: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.8rem;
    background-color: #EADBC8;
    margin-bottom: 0.625rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
}

.text {
    flex:1;
}

.delete-button,
.move-button {
    padding: 0.4rem 0.6rem;
    font-size: 1.4rem;
    margin-left: 0.625rem;
}